*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

#postcommentpage-div,#listcommentspage-div{
    width:100vw;
    min-height:100vh;
    max-height: fit-content;
    
    display:grid;
    grid-template-rows:max-content max-content auto max-content;
}

#postcommentform-form{
    width:60%;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#postcommentform-form>*{
    width:100%;
}